# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3

# Виртуальное окружение
.venv/
env/
venv/

# IDE (PyCharm, VSCode и т.п.)
.idea/
.vscode/

# Системные файлы macOS
.DS_Store

# Файлы логов и временные
*.log
*.tmp
